.testimonial-card {
  width: 361px;
  flex: 0 0 631px;
}

.animate-scroll-left {
  display: flex;
  animation: scroll-left 30s linear infinite;
  gap: 32px;
  margin-bottom: 10px;
  transform: translateX(100%);
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-right {
  display: flex;
  animation: scroll-right 30s linear infinite;
  gap: 32px;
  transform: translateX(100%);
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
