@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: #08071a;
  font-family: "Sora", sans-serif;
}

::selection {
  background-color: #68c7ad;
  color: white;
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float-opposite {
  animation: float-opposite 4s ease-in-out infinite;
}

@keyframes float-opposite {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
